@import url("footer.css");

html
{
   font-size: 1em !important;
   color: #000!important;
   font-family: Arial !important;
}

body  {
    background-image: url("../img/travel_program.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;

}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: deepskyblue;
    color: white;
}


li a:hover:not(.active) {
    background-color: black;
    color: white;
}

.welcome{
    text-align: center;
    letter-spacing: 20px;

}